<td-layout class="theme-light">

  <td-navigation-drawer flex sidenavTitle="Docmd" name="Haopo" email="haopoboy@docmd">
    <mat-nav-list>
      <a mat-list-item routerLink="/document">
        <mat-icon matListAvatar>apps</mat-icon>
        <span>Document</span>
      </a>
    </mat-nav-list>
  </td-navigation-drawer>

  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <span [routerLink]="['/']" class="cursor-pointer">Docmd</span>
    </div>

    <router-outlet></router-outlet>

  </td-layout-nav>


</td-layout>